.page-header{
margin:0px;
padding:10px 0px;
background-color: lightgrey;
text-align: center;
}

.topnav{
display: flex;
background-color: grey;
}

.topnav a {
    margin:10px;
    padding:10px;
    text-decoration: none;
    color: black;
}


.topnav a:hover{
    background-color: lightgray;
}

.nav-selected{
    background-color: lightgray;

}